NODE_ENV = development | staging | production
PORT = 3000

MONGODB_URI = mongodb://root:example@localhost:27017/db?authSource=admin
# <Protocol>://<Username>:<Password>@<Host>:<Port>/<Database>?authSource=admin

JWT_SECRET = your__jwt__secret
JWT_EXPIRES_IN = 1d